# builder.yml for GitHub Actions to build bara.ino for ESP32
name: Build bara.ino

on:
  push:
    paths:
      - 'bara.ino'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install ESP32 Board
        run: |
          arduino-cli core update-index --additional-urls https://espressif.github.io/arduino-esp32/package_esp32_index.json
          arduino-cli core install esp32:esp32 --additional-urls https://espressif.github.io/arduino-esp32/package_esp32_index.json

      - name: Compile bara.ino
        run: |
          arduino-cli compile --fqbn esp32:esp32:esp32 --output-dir ./build bara.ino

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: bara-firmware
          path: ./build/
